<div style="display: inline-block; margin-bottom: 1rem;">
	<form method="POST" class="form-add">
		<input type="text" name="new_task" placeholder="Описание задачи">
		<input type="submit" name="do_task" value="Добавить">
	</form>
</div>